@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --schoolbusyellow: #ffdb00;
        --white: #ffffff;
        --delftblue: #26355d;
        --oxfordblue: #02182b;
        --charcoal: #2e4050;
        --slategray: #707c87;
    }

    .rtl {
        direction: rtl;
    }

    .ltr {
        direction: ltr;
    }

    @font-face {
        font-family: "FaFont";
        src: url(../public/Fonts/DahganRegular.ttf) format("TrueType");
    }

    @font-face {
        font-family: "EnFont";
        src: url(../public/Fonts/SpaceGrotesk-Regular.ttf) format("TrueType");
    }
}
